@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

// h1 {
//   font-size: 2.2rem;
//   color: lighten($orange, 25);
// }
//
// .test {
//   font-size: 1.2rem;
//   color: $blue;
// }

* {
  font-family: $font-primary;
  color: $light;
  font-size: 1em;
}

// navbar

ul{ float: right; }
li{ display: inline; float: left;}

img.logo{float: left; }

nav{ width: 960px; margin: 0 auto;}

header{ background: $lnmtl-header-dark; border-bottom: 1px solid #aaaaaa; float: left; width: 100%; position: fixed; z-index: 10; }
header a{ color: #969696; text-decoration: none; text-transform: uppercase; font-size: 1em; }
header a.active, header a:hover{ color: $very-pink; }
header li{ margin-right: 30px; }

.active-nav {
  color: $vader;
}

header.large{ height: 77px; }
header.large img{ width: 70px; height: 70px; padding-top:3px;}
header.large li{ margin-top: 35px; }

header.small{ height: 69px; }
header.small img{ width: 60px; height: 60px; padding-top:4px;}
header.small li{ margin-top: 30px; }

header,nav, a, img, li{
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}

#home {
  height: 1080px;
  position:relative;

  img {
    left:50%;
    transform:translateX(-50%);
    top:35%;
    position:absolute;
  }
}

.banner {
  background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../media/Clifford.jpg');
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }

  p {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
  }
}

section {
  width: 100%;
  background: $lnmtl-background;


}

.row {
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 auto;
}

.col {
  display: inline-block;
  margin: 0 auto;
}

.half {
  width: 49%;
  max-width: 480px;
}

.info {
  text-align:center;
}

#family {
  color: $vader;
  text-align:center;
}

#glimpse, #icons, #wikipedia{
  color: $vader;
  text-align:center;
}

.modal {
  background-color: $lnmtl-background;
  cursor: pointer;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  padding: 24px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99999;

  img {
    box-shadow: 0 0 6px 3px #333;
    z-index: 100000;
  }
}

.no-scroll {
  overflow: hidden;
}

//video
.video-bg video {
  right: 0;
  left: auto;
  visibility: visible;
  width: 100%;
  overflow-y: hidden;
  position:relative;
  z-index:0;
}

.video-bg.video-loaded {
  background-image: none;
}

.video-bg.playing video {
  opacity: 0.7;
}


.video-bg {
  background-image: url("../media/Cliford.jpg");
  min-height: 540px;
  height: 100%;
  box-sizing: border-box;
  background-position: right top;
  position:relative;
}

.overlay {
  position:absolute;
  z-index:1;
}

.overlay-info {
  color: $light;
  font-size: 10em;
  font-family: $font-primary;
}

.align-vert {
  top:50%;
  transform: translateY(-50%);
}

.align-horiz {
  left:50%;
  transform: translateX(-50%);
}

//carousel code

#carousel {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin: 0px auto;
}

#slides {
  width: 500%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $gotham-base-1;
}

#slides .slide {
  width: 20%;
  height: 600px;
  float: left;

  img {
    overflow:hidden;
    background:cover;
  }

  h1 {
    margin: 25px 60px;
    color: $vader;
    font-size: 3em;
    border-width: 20px;
    //text-shadow: 0 -1px 1px #333;
  }
}
.sliderow {
  width: 960px;
  margin: 0 auto;
  transform: translateY(50%);
}

.separator {
  border: 1px solid $primary-active;
  width: 200px;
  margin: 20px auto;
}

/* arrow navigation */

.arrow {
  display: block;
  position: absolute;
  top: 240px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 28px 21px;
  border-color: transparent;
  outline: none;

  &:hover {
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  }
}

#left-button {
  left: 0;
  border-right-color: $light;
}

#right-button {
  right: 0;
  border-left-color: $light;
}

body {
  background-color: $lnmtl-background;
}

.info {
  text-align: center;
}

.heading {
  text-transform: uppercase;
  text-align:center;
}

//typography settings
.text-default {
  color: $vader;
}

h1 {
  font-size: 2.9rem;
  color: $vader;
}

h4 {
  color: $vader;
}

.smallSeparator {
  border: 1px solid $text-color;
  width: 69px;
  margin: 20px auto;
}

footer {
  text-decoration: none;

  i {
    color: $vader;
  }

  h2 {
    font-size: 1.7rem;
    color: $vader;
  }
}


// .menuButton {
//   position: relative;
//   -moz-transition-property: background-color, color;
//   -moz-transition-duration: 1s;
//   -moz-transition-timing-function: ease-out;
//   -webkit-transition-property: background-color, color;
//   -webkit-transition-duration: 1s;
//   -o-transition-property: background-color, color;
//   -o-transition-duration: 1s;
//   text-align: left;
//   background-color: grey;
//   left: 5px;
//   top: 5px;
//   height: 26px;
//   color: white;
//   border-color: black;
//   font-family: sans-serif;
//   font-size: 20px;
//   text-decoration: none;
//   -moz-box-shadow: 2px 2px 1px black;
//   padding: 2px 4px;
//   border: solid 1px black;
// }
//
// .menuButton:hover {
//   position: relative;
//   -moz-transition-property: background-color, color;
//   -moz-transition-duration: 1s;
//   -moz-transition-timing-function: ease-out;
//   -webkit-transition-property: background-color, color;
//   -webkit-transition-duration: 1s;
//   -o-transition-property: background-color, color;
//   -o-transition-duration: 1s;
//   background-color:white;
//   color:black;
//   -moz-box-shadow: 2px 2px 1px black;
// }
//
// .sidebar {
//   position:absolute;
//   width: 150px;
//   height: 170px;
//   background-color: #eeeeff;
//   color: black;
//   border: solid 1px black;
//   -moz-box-shadow: 2px 2px 1px black;
// }
