
$orange         : #BD3613;
$blue           : #2176C7;
$facebookblue	: #3B5998;


// An Old Hope Colour Palette inspired by a galaxy far far away...
$vader:        #EB3D54;   // Vader's lightsaber.
$luke:         #EF7C2A;     // Luke's pilot uniform.
$threepio:     #E5CD52; // Human cyborg relations.
$yoda:         #78BD65;    // Fear is the path to the dark side.
$artoo:        #4FB4D8;   // Whistle. Bloop.

$very-pink: #EF3E5C;

// LNMTL Colors
$lnmtl-background: #252830;
$lnmtl-header-dark: #1A1C22;
$lnmtl-text-dark:      #CFD2DA;
$lnmtl-text-highlight: #CBFFFF;

$sunset-miaka: #44B9B0;
$teal: #00A6A6;
$pacifica: #4ECDC4;
$clean-pondwater: #A7DBD8;
$beach-storm: #E0E4CC;
$gold: #A89B7B;

// Gotham Theme Color Definitions
$gotham-base-1: #0c1014;
$gotham-base-2: #11151c;
$gotham-base-3: #091f2e;
$gotham-base-4: #0a3749;
$gotham-base-5: #245361;
$gotham-base-6: #599cab;
$gotham-base-7: #99d1ce;
$gotham-base-8: #d3ebe9;
$gotham-red:       #c23127;
$gotham-orange:    #d26937;
$gotham-yellow:    #edb443;
$gotham-grey:      #888ca6;
$gotham-steel:     #4e5166;
$gotham-blue-grey: #195466;
$gotham-teal:      #33859E;
$gotham-aqua:      #2aa889;

$primary-color: #11151c;
$primary-accent: #091f2e;
$primary-hover: #0a3749;
$primary-active: #245361;

// Text
$text-color: $gotham-base-1;
$text-dark: #1A237E;
$text-hover: $beach-storm;
$text-highlight: #CBFFFF;
$text-alt: $gold;

$light: #FFF;
//palette
$color1			: #373737;
$color2			: #8DB986;
$color3			: #ACCE91;
$color4			: #BADB73;
$color5			: #EFEAE4;

// Link Definitions
$link-color: #001F3F;
$link-hover-color:  lighten(#001F3F, 10);
$link-visited-color: #ccd8db;

$accent-1: #E2032E;
$accent-2: #F4C900;
$accent-3: #00B3A8;
$accent-4: #3978BB;

$thought: #542437;
$miaka: #FC354C;
$ice: #DBE5CA;
$saumur: #FCF7C5;
$lid-green: #00cf84;
$note: #ff500a;
$heading: #144057;
$indigo: #1A237E;

$nav-height : 70px;
$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;
$default-base: 1rem;


// Thank you url
$doge: url("https://media.giphy.com/media/a3IWyhkEC0p32/giphy.gif");
